@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');


header {
  height: 110px;
  background-color: #8e8bff;
  background-image: url('./chalkboard.jpg');
  border-bottom: 2px solid black;
  box-shadow: 0px 4px 80px 20px black;
}

h1 {
  font-size: 5rem;
  letter-spacing: 6px;
  font-family: 'Patrick Hand', Arial, Sans-serif;
  color: rgba(255, 255, 255, 0.945);
  margin: 0 0 0 0;
  display: flex;
  justify-content: space-around;
}