@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

$color-lead: #525252;
$color-correct: lime;
$color-incorrect: red;
$color-card-pink: #ff8c8f;
$page-font: 'Patrick Hand' Arial Sans-serif;
$color-save: rgb(0, 217, 255);
$color-unsave: black;